@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #ffffff;
  --secondary-color: #f1f5f9;
  --text-color: #64748b;
  --text-secondary-color: #000;
  --bg-hover: #cbd5e1;
  --movie_color: #e50914;
  --movie_color_hover: #dc2626;
}
html.dark {
  --primary-color: #000000;
  --secondary-color: #374151;
  --text-color: #d1d5db;
  --text-secondary-color: #fff;
  --bg-hover: #6b7280;
  --movie_color: #b20710;
  --movie_color_hover: #991b1b;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
